<h1>Pay now!</h1>

<%= form_tag charge_listing_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span>Amount: $<%= @listing.price %></span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Booking fee for <%= @listing.name %>"
          data-amount="<%= (@listing.price * 100).to_i %>"
          data-locale="auto"></script>
<% end %>
